/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --text-hover: #3d3d3d;
  --cta-color: #ff0000;
  --logo-bg: url("/assets/logo.svg");
  --banner-bg: url("/assets/banner-image.svg");
}

/* App */
#app {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  z-index: 9999;
}

header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  background-color: -var(--bg-color);  
}

/* Header Menu */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

nav ul li {
  margin: auto;
}

nav ul li:last-child {
  margin-right: 0px;
  margin-left: auto;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--text-hover);
}

nav ul li .cta {
  color: var(--cta-color);
}

/* Logo */
.logo {
  width: 118px;
  height: 55px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  background-image: var(--logo-bg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 10;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--cta-color);
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Hamburger Menu */
#menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #000;
  width: 100%;
  list-style: none;
  padding: 10px 0;
}

#menu li {
  text-align: center;
  padding: 10px 0;
}

#menu.show {
  display: flex;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav ul li:last-child {
    margin-right: 10px;
    margin-left: 0;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 425) {

}

/* Main */

main {
  background-color: var(--bg-color);
  width: auto;
  max-width: 1240px;
  position: absolute;
}

#three-canvas {
  z-index: 1;
  width: 100%;
  max-width: 1440px;
}

#overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 160px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: white;
  pointer-events: none;
}

#three-canvas canvas {
  width: 100%;
  height: auto;
  max-width: 1240px;
  background-color: transparent;
  image-rendering: pixelated;
}

@media (max-width: 1024px) {

}

@media (max-width: 425) {

}

/* Banner */

.banner-container {
  width: 100%;
  height: 108px;
  max-width: 1440px;
  position: relative;
  top: 100px;
  left: 0;
  z-index: 9998;
  border: 2px solid #ffffff;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.banner {
  width: 33.333333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  gap: 5px;
}

.banner-left {
  border-right: 2px solid #ffffff;
}

.banner-right {
  border-left: 2px solid #ffffff;
}

.banner h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner p {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner div img {
  width: 26px;
  height: 26px;
}

/* Promo */

.promo-container {
  position: relative;
  top: 120px;
  left: 0;
  z-index: 9999;
}

.promo-container p {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.summary-container {
  position: absolute;
  max-width: 400px;
  top: 70%;
  left: 0;
  z-index: 9999;
}

.summary-container p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-image {
  width: 407px;
  height: 129px;
  color: var(--text-color);
  background-image: var(--banner-bg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 9999;
  position: absolute;
  max-width: 400px;
  top: 70%;
  right: 0;
}

section,
footer {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 2px solid var(--cta-color);
}

blockquote {
  font-style: italic;
}

blockquote footer {
  font-size: 0.9em;
}
