@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  scroll-margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply leading-none bg-black text-[color:var(--text-color)] box-border;
  font-family: "Roboto Mono", monospace;
}

/* Variables */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --cta-color: #ff0000;
  --logo-bg: url("/assets/logo.svg");
  --banner-bg: url("/assets/banner-image.svg");
}

/* App */
#app {
  @apply w-full h-full bg-black flex flex-col items-center;
}

/* Header */
header {
  @apply w-full max-w-screen-xl fixed flex items-center justify-center bg-black z-50 left-auto top-0 px-12 xl:px-10 2xl:px-0;
}
header nav {
  @apply flex justify-between items-center w-full bg-black mx-0 my-5;
}

/* Header Menu */
nav ul {
  @apply flex justify-between w-full p-0;
  list-style: none;
}
nav ul li {
  @apply m-auto last:ml-auto last:mr-0;
}

nav ul li .cta {
  @apply text-[color:var(--cta-color)];
}

nav ul li a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: bold;
}

/* Buttons */
.glitch-button {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 0.75em;
  letter-spacing: 0.35em;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--color-border);
  transition: all 0.2s ease;
  @apply mx-0 md:mx-auto my-0;

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: var(--color-white);
    color: var(--color-background);
  }

  &:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 var(--color-white);
    box-shadow: 2px 0 var(--color-white);
  }

  &:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 var(--color-white);
    box-shadow: -1px 0 var(--color-white);
  }

  &:hover {
    background: var(--color-white);
    color: var(--color-background);
  }

  &:hover:before {
    animation: glitch-effect 1.5s infinite linear alternate-reverse;
  }

  &:hover:after {
    animation: glitch-effect 2s infinite linear alternate;
  }
}

@keyframes glitch-effect {
  0% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  5.88235% {
    clip: rect(0px, 600px, 0px, 0px);
  }
  11.76471% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  17.64706% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  23.52941% {
    clip: rect(100px, 600px, 100px, 0px);
  }
  29.41176% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  35.29412% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  41.17647% {
    clip: rect(0px, 600px, 600px, 0px);
  }
  47.05882% {
    clip: rect(100px, 600px, 0px, 0px);
  }
  52.94118% {
    clip: rect(-3px, 600px, 0px, 0px);
  }
  58.82353% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  64.70588% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  70.58824% {
    clip: rect(100px, 450px, 100px, 0px);
  }
  76.47059% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  82.35294% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  88.23529% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  94.11765% {
    clip: rect(0px, 450px, 0px, 0px);
  }
  100% {
    clip: rect(0px, 450px, 0px, 0px);
  }
}

/* Logo */
.logo-container {
  @apply w-[118px] h-[55px] text-[color:var(--text-color)] text-sm font-bold leading-[normal] p-0;
}

.logo-container img {
  @apply object-contain w-[118px] h-[55px] min-h-full max-w-full group-hover:hidden;
}

/* Hamburger */
.hamburger {
  @apply hidden flex-col cursor-pointer z-10;
}
.hamburger span {
  @apply h-[3px] w-[25px] bg-[color:var(--cta-color)] transition-all duration-[0.3s] ease-[ease] mx-0 my-1;
}

/* Hamburger Menu */
#menu {
  @apply hidden flex-col justify-start absolute bg-black w-2/5 min-h-screen px-0 pt-10 right-0 top-[60px] gap-10;
  list-style: none;
}
#menu li {
  @apply w-full text-right px-0 pr-16 m-0;
}
#menu.show {
  @apply flex;
}
@media (max-width: 768px) {
  nav ul {
    @apply hidden;
  }
  nav ul li:last-child {
    @apply ml-0 mr-2.5;
  }
  .hamburger {
    @apply flex;
  }
}

/* Main */
main {
  @apply bg-black w-full max-w-screen-xl relative px-12 xl:px-10 2xl:px-0;
}

#three-canvas {
  @apply w-full max-w-screen-xl;
}
#overlay-text {
  @apply absolute w-full text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-6xl sm:text-8xl md:text-9xl lg:text-[160px] italic font-bold leading-[normal] z-0 text-[white] pointer-events-none;
}
#three-canvas canvas {
  @apply h-full max-h-min w-full max-w-full bg-transparent z-0 relative;
  image-rendering: pixelated;
}

/* Banner */
.banner-container {
  @apply h-[108px] w-full max-w-screen-xl relative z-40 flex box-border justify-between border-2 border-solid border-white left-0 top-[100px];
}
.banner {
  @apply w-full md:w-4/12 flex flex-col justify-center gap-[5px] p-3;
  align-items: left;
}
.banner-left {
  @apply md:border-r-2 md:border-r-white border-solid;
}
.banner-right {
  @apply border-l-2 border-l-white border-solid hidden md:block;
}
.banner h1 {
  @apply text-[32px] not-italic font-bold leading-[normal];
}
.banner h2 {
  @apply text-xl not-italic font-normal leading-[normal];
}
.banner p {
  @apply text-[11px] not-italic font-normal leading-[normal];
}
.banner div {
  @apply flex items-center justify-between;
}
.banner div img {
  @apply w-[26px] h-[26px];
}

/* Promo */
.promo-container {
  @apply absolute z-40 left-0 top-[220px] px-12 xl:px-10 2xl:px-0;
}
.promo-container p {
  @apply text-[10px] not-italic font-normal leading-[normal];
}
.summary-container {
  @apply absolute max-w-[400px] z-40 left-0 top-[70%] pl-12 xl:pl-10 2xl:pl-0;
}
.summary-container p {
  @apply text-xs not-italic font-normal leading-[normal];
}
.banner-image {
  @apply w-[407px] h-[129px] text-[color:var(--text-color)] bg-[image:var(--banner-bg)] bg-no-repeat bg-contain z-40 hidden lg:block absolute max-w-[400px] right-12 top-[72%] xl:top-[70%] xl:right-10 2xl:right-0;
}

/* Details */
.details-container {
  @apply absolute z-0 left-0 top-[270px] w-full flex justify-between px-12 xl:px-10 2xl:px-0;
}

/* System Section */
.section-title {
  display: block;
  position: relative;
  background: none;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 8px 0px;
  width: 100%;
  letter-spacing: 0.35em;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.2s ease;
  @apply mx-0 md:mx-auto my-0 text-xl md:text-4xl;

  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    -webkit-clip: rect(0px, 0px, 0px, 0px);
    clip: rect(0px, 0px, 0px, 0px);
    background: var(--text-color);
    color: var(--bg-color);
  }

  &:before {
    left: -3px;
    top: -2px;
    text-shadow: 2px 0 var(--text-color);
    box-shadow: 2px 0 var(--text-color);
  }

  &:after {
    left: 2px;
    bottom: -2px;
    text-shadow: -1px 0 var(--text-color);
    box-shadow: -1px 0 var(--text-color);
  }

  &:hover {
    background: var(--text-color);
    color: var(--bg-color);
  }

  &:hover:before {
    animation: glitch-effect 1.5s infinite linear alternate-reverse;
  }

  &:hover:after {
    animation: glitch-effect 2s infinite linear alternate;
  }
}

.section-subtitle {
  @apply block relative text-lg md:text-xl w-full tracking-[0.35em] text-left uppercase px-0 pb-2 border-[none];
}
.section-inner-subtitle {
  @apply block relative text-base w-full tracking-[0.35em] text-left uppercase mb-2.5 border-[none];
}

#system {
  @apply bg-black w-full max-w-screen-xl px-12 xl:px-10 2xl:px-0;
}
.overview {
  @apply md:text-lg mb-7 text-left;
}
.overview-small {
  @apply text-sm mb-[30px] text-left;
}
.system-list-container {
  @apply flex gap-2;
}
.lateral-panel-image {
  @apply w-3/5 bg-[url("/assets/lateral-panel.jpg")] bg-no-repeat bg-cover border-2 border-solid border-white;
}
.hierarchy-list {
  @apply list-none p-0 text-left;
}
.hierarchy-list li {
  @apply mb-5;
}
.hierarchy-list strong {
  @apply text-red-700;
}

.pulsing-underline {
  @apply animate-pulse text-white font-extrabold [animation-duration:_1.2s];
}
.access-level {
  @apply  text-slate-700;
}
.key-control-areas {
  @apply border-solid border-l-2 border-l-white pl-6;
}
.key-control-areas ul {
  @apply list-none text-left;
}
.key-control-areas li {
  @apply mb-2.5;
}
p {
  @apply leading-normal;
}

section,
footer {
  @apply text-center p-5;
}
