@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  @apply leading-none bg-[color:var(--bg-color)] text-[color:var(--text-color)] box-border;
  font-family: "Roboto Mono", monospace;
}

/* Variables */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --text-hover: #3d3d3d;
  --cta-color: #ff0000;
  --logo-bg: url("/assets/logo.svg");
  --banner-bg: url("/assets/banner-image.svg");
}

/* App */
#app {
  @apply w-full h-full bg-[color:var(--bg-color)] flex justify-center;
}

/* Header */
header {
  @apply w-full fixed flex items-center justify-center bg-[color:var(--bg-color)] z-[9999] left-auto top-0;
}
header nav {
  @apply flex justify-between max-w-[1240px] items-center w-full bg-[-var(--bg-color)] mx-0 my-5;
}

/* Header Menu */
nav ul {
  @apply flex justify-between w-full p-0;
  list-style: none;
}
nav ul li {
  @apply m-auto last:ml-auto last:mr-0;
}
nav ul li a {
  @apply text-[color:var(--text-color)] no-underline transition-[color] duration-[0.3s] hover:text-[color:var(--text-hover)];
}
nav ul li .cta {
  @apply text-[color:var(--cta-color)];
}

/* Logo */
.logo {
  @apply w-[118px] h-[55px] text-[color:var(--text-color)] text-sm font-bold leading-[normal] bg-[image:var(--logo-bg)] bg-no-repeat bg-contain;
}

/* Hamburger */
.hamburger {
  @apply hidden flex-col cursor-pointer z-10;
}
.hamburger span {
  @apply h-[3px] w-[25px] bg-[color:var(--cta-color)] transition-all duration-[0.3s] ease-[ease] mx-0 my-1;
}

/* Hamburger Menu */
#menu {
  @apply hidden flex-col absolute bg-black w-full px-0 py-2.5 right-0 top-[60px];
  list-style: none;
}
#menu li {
  @apply text-center px-0 py-2.5;
}
#menu.show {
  @apply flex;
}
@media (max-width: 768px) {
  nav ul {
    @apply hidden;
  }
  nav ul li:last-child {
    @apply ml-0 mr-2.5;
  }
  .hamburger {
    @apply flex;
  }
}

/* Main */
main {
  @apply bg-[color:var(--bg-color)] w-auto max-w-[1240px] absolute;
}
#three-canvas {
  @apply z-[1] w-full max-w-[1440px];
}
#overlay-text {
  @apply absolute w-full h-full text-[160px] italic font-bold leading-[normal] text-center -translate-x-2/4 -translate-y-2/4 z-[-1] text-[white] pointer-events-none left-2/4 top-2/4;
}
#three-canvas canvas {
  @apply w-full h-auto max-w-[1240px] bg-transparent;
  image-rendering: pixelated;
}

/* Banner */
.banner-container {
  @apply w-full h-[108px] max-w-[1440px] relative z-[9998] flex box-border justify-between border-2 border-solid border-white left-0 top-[100px];
}
.banner {
  @apply w-4/12 flex flex-col justify-center gap-[5px] p-5;
  align-items: left;
}
.banner-left {
  @apply border-r-2 border-r-white border-solid;
}
.banner-right {
  @apply border-l-2 border-l-white border-solid;
}
.banner h1 {
  @apply text-[32px] not-italic font-bold leading-[normal];
}
.banner h2 {
  @apply text-xl not-italic font-normal leading-[normal];
}
.banner p {
  @apply text-[11px] not-italic font-normal leading-[normal];
}
.banner div {
  @apply flex items-center justify-between;
}
.banner div img {
  @apply w-[26px] h-[26px];
}

/* Promo */
.promo-container {
  @apply relative z-[9999] left-0 top-[120px];
}
.promo-container p {
  @apply text-[10px] not-italic font-normal leading-[normal];
}
.summary-container {
  @apply absolute max-w-[400px] z-[9999] left-0 top-[70%];
}
.summary-container p {
  @apply text-xs not-italic font-normal leading-[normal];
}
.banner-image {
  @apply w-[407px] h-[129px] text-[color:var(--text-color)] bg-[image:var(--banner-bg)] bg-no-repeat bg-contain z-[9999] absolute max-w-[400px] right-0 top-[70%];
}
section,
footer {
  @apply text-center p-5;
}
button {
  @apply bg-[#007bff] text-[white] cursor-pointer px-5 py-2.5 border-[none];
}
button:focus {
  outline: 2px solid var(--cta-color);
}
blockquote {
  @apply italic;
}
blockquote footer {
  @apply text-[0.9em];
}
